.Calendar {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.Day {
  flex: 1;
  align-self: center;
}

.DayWrapper {
  display: flex;
  font-size: 3vw;
  text-align: center;
  color: white;
  border-left: 0.5px solid #424242;
  border-bottom: 0.5px solid #424242;
}

.DayWrapper:hover {
  cursor: pointer;
}

.DayWrapper.Done {
  background-color: #00f704;
}

